---
title: Huh?
---
<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1 id="logo"><img src="images/logo.png" alt="Huh?"></h1>
      <h2>We make the world a better place by revolutionizing the classroom experience.</h2>
      <a href="#" class="button">
        <div class="flip">
          <div class="flip-front">?</div>
          <div class="flip-back">?</div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="main">
  <div class="copy">
    <h3>What's Huh?</h3>
    <p>We make the world a better place by revolutionizing the classroom experience.</p>
  </div>
</div>

<div class="isometric">
  <ul class="grid">
    <li class="one"><span class="s"></span></li>
    <li class="two"><span class="s"></span></li>
    <li class="three"><span class="s"></span></li>
    <li class="four"><span class="s"></span></li>
  </ul>
</div>

<%= partial "footer" %>
