---
title: The Team | Huh?
---
<div class="hero team-header">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>The Team</h1>
    </div>
  </div>
</div>

<div class="main">
  <div class="copy">
  The team
</div>


<footer class="footer">
  <div class="footer-logo">
    <h1>?</h1>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Huh?</h3></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="team.html">The team</a></li>
      <li><a href="javascript:void(0)">Careers</a></li>
    </ul>
    <ul>
      <li><h3>Sales</h3></li>
      <li><a href="javascript:void(0)">Pricing</a></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
    <ul>
      <li><h3>Get in touch</h3></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Press</a></li>
    </ul>
  </div>

  <hr>

  <p>Greetings from drizzling <a href="https://www.flickr.com/search/?q=groningen">Groningen.</a> <br> - The Huh? team.</p>
</footer>

